.main_area {
  .contents_area {
    .service_area {
      // display: none;

      .service_container {
        .service_row {
          justify-content: center;

          .service_clm {
            .service_title {
              .title {}

              p {
                color: var(--sweet-solid);
                font-style: italic;
                text-transform: capitalize;
              }
            }

            .service_contents {
              grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
              grid-gap: 10px;

              .single_service {
                position: relative;
                text-align: center;
                color: var(--black-solid);
                box-shadow: 0 0 10px rgba(233, 30, 98, 0.202);
                padding: 10px;
                cursor: pointer;
                display: grid;
                grid-gap: 5px;
                height: 300px;
                transition: 0.4s;
                justify-items: center;
                align-items: center;
                justify-content: center;

                &:hover {
                  box-shadow: 0 0 30px rgba(233, 30, 99, 0.20);
                }

                .service_content_span {
                  .service_content_i {
                    color: var(--sweet-solid);
                    transition: 0.5s;
                  }
                }

                .service_content_title {
                  padding: 10px 0;
                  text-transform: capitalize;
                }

                .service_content_details {}

                .service_content_btn {
                  border: 1px solid var(--gray-600);
                  border-radius: 0;
                  width: 45%;
                  color: var(--black-solid);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: 0.3s;

                  &:hover {
                    background-color: var(--sweet-solid);
                    color: var(--white-solid);

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*----------responsive_area----------------*/
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (min-width: 1400px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {

                  .service_content_span {
                    .service_content_i {
                      font-size: calc(20px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(16px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(6px + 1vh);
                  }

                  .service_content_btn {
                    width: 100px;
                    height: 27px;
                    font-size: calc(6px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1200px) {}

// `xl` applies to large devices (desktops, less than 1024px)
@media (max-width: 1024px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {




                  .service_content_span {
                    .service_content_i {
                      font-size: calc(20px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(15px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(8px + 1vh);
                  }

                  .service_content_btn {
                    width: 100px;
                    height: 27px;
                    font-size: calc(8px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 992px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {




                  .service_content_span {
                    .service_content_i {
                      font-size: calc(17px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(13px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(7px + 1vh);
                  }

                  .service_content_btn {
                    width: 95px;
                    height: 25px;
                    font-size: calc(7px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {




                  .service_content_span {
                    .service_content_i {
                      font-size: calc(15px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(12px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(6px + 1vh);
                  }

                  .service_content_btn {
                    width: 95px;
                    height: 25px;
                    font-size: calc(6px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {




                  .service_content_span {
                    .service_content_i {
                      font-size: calc(10px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(12px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(5px + 1vh);
                  }

                  .service_content_btn {
                    width: 95px;
                    height: 25px;
                    font-size: calc(5px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// `sm` applies to x-small devices ( less than 320px)
@media (max-width: 320px) {
  .main_area {
    .contents_area {
      .service_area {
        // display: none;

        .service_container {
          .service_row {
            .service_clm {
              .service_title {
                .title {}

                p {}
              }

              .service_contents {

                .single_service {




                  .service_content_span {
                    .service_content_i {
                      font-size: calc(10px + 1vh);

                    }
                  }

                  .service_content_title {
                    font-size: calc(8px + 1vh);
                  }

                  .service_content_details {
                    font-size: calc(5px + 1vh);
                  }

                  .service_content_btn {
                    width: 95px;
                    height: 25px;
                    font-size: calc(5px + 1vh);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}